src/main/mule/get-data6.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="69ab4b28-2714-4c12-928e-661bfaff5d01" doc:description="This application is to test how to send two headers and get data from the database. the database i use is called northwind and the table is Employee and the column names are titleOfCourtesy ands city. this returns java output, i transform it to csv and write it to disk. but in order to write the value of the header to another disk , we have to set it to a variable since our header values are going to change across the flow. so we have to add two set variables immediately after our listener." >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="c4af00f0-757f-4ee1-bc8e-fb738bc217e8" >
		<db:my-sql-connection host="localhost" port="3306" user="root " password="Asq@22w0rd#" database="northwind" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="311173c6-1251-4a95-8c96-fd0f8b9e393d" >
		<file:connection workingDir="C:\Mulesoft\datafromdatabasees" />
	</file:config>
	<flow name="get-data6Flow" doc:id="790b6afb-0e34-4abd-8fe7-c5ad62a67ecb" >
		<http:listener doc:name="Listener" doc:id="ce43d654-0265-46f4-bfdd-fcd98e6f6f0a" config-ref="HTTP_Listener_config" path="get-data" doc:description="This application is to test how to send two headers and get data from the database. the database i use is called northwind and the table is Employee and the column names are titleOfCourtesy ands city. this returns java output, i transform it to csv and write it to disk. but in order to write the value of the header to another disk , we have to set it to a variable since our header values are going to change across the flow. so we have to add two set variables immediately after our listener."/>
		<logger level="INFO" doc:name="Logger" doc:id="6d791fcf-e343-4ae9-a34f-b5c699ca25b5" message='#["titleOfCourtesy is: " ++ attributes.headers.titleOfCourtesy ++ " and City is: " ++ attributes.headers.city]'/>
		<set-variable value="#[attributes.headers.titleOfCourtesy]" doc:name="Set titleOfCourtesy" doc:id="86351c05-7d65-45bb-850e-cbea12a55415" variableName="titleOfCourtesyvar"/>
		<set-variable value="#[attributes.headers.city]" doc:name="Set City" doc:id="68a0ea93-1c29-4761-834d-3a124b5ec75c" variableName="cityvar"/>
		<db:select doc:name="Get data from MySQL" doc:id="038c2d25-51f6-403c-8f55-32045674e653" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM employee where titleOfCourtesy= :titleOfCourtesy and city= :city]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'titleOfCourtesy': attributes.headers.titleOfCourtesy,
 'city': attributes.headers.city
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="To csv" doc:id="61f6189c-4928-4b14-b142-31cd0a5cc2e6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write To Disk" doc:id="f518faad-2f0f-4233-9148-30516dcdafc1" config-ref="File_Config" path='#[vars.titleOfCourtesyvar ++ "_" ++ vars.cityvar ++ ".csv"]'/>
	</flow>
</mule>
